<link href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet' />

<body>

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">

        <a href="/home/index" class="navbar-brand">AirBnBarrington</a>
      </div>

      <div class="navbar-collapse collapse" id="navbar">

        <ul class="nav navbar-nav">
          <li> <%= link_to 'Home', root_path%><li>
    		  <li> <%= link_to 'About Us!!', home_about_path %><li>
          <li> <%= link_to "Login", new_user_session_path%><li>
          <li><%= link_to "Join", new_user_registration_path %><li>


        </ul>

      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>


</body>