<div class = "jumbotron center">
	<h1>AirBnBarrington</h1>
	<p>When you're here, you're here</p>
	<p>Reservations Coming Soon -- Website In DEV!!</p>

	<%= link_to "Reserve Now!", home_reserve_path, class: 'btn btn-default alpha' %>
	<%= link_to "Leave a Note!", root_path, class: 'btn btn-default alpha' %>
	<%= link_to "Login", new_user_session_path, class: 'btn btn-danger alpha' %>
	<%= link_to "Join", new_user_registration_path, class: 'btn btn-primary alpha' %>


</div>
