<h1>Reservations Coming Soon</h1>

<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Enter your email address!</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Select Your Date!</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>10/1/2019</option>
      <option>10/2/2019</option>
      <option>10/3/2019</option>
      <option>10/4/2019</option>
      <option>10/5/2019</option>
    </select>
  </div>
</form>